*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,footer{
    background: #f78768;
}

header>h1{
    text-align: center;
}

header ul, footer ul{
    list-style: none;
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

main{
    max-width: 1200px;
    margin: auto;
}

main>h2{
    text-align: center;
    padding: 15px 0;
}

main>figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>figure>img{
    width: 900px;
    border-radius: 20px;
}

main>figure>figcaption{
    font-size: 2rem;
    padding-bottom: 15px;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Style Formulaire contact */

.coordonnee{
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labels{
    width: 50%;
    margin-bottom: 5px;
}

.champs{
    width: 50%;
    margin-bottom: 15px;
}

#message{
    margin-top: 5px;
}

#submit{
    width: 10vw;
    height: 5vh;
    margin: 15px 0;
}